@import url('https://fonts.googleapis.com/css2?family=Liter&family=Roboto+Condensed:ital,wght@0,200;1,200&display=swap');
h1 {
    display: inline;
    width: 150vh;
    margin: 0 auto;
    color: rgb(13, 74, 14);
    text-decoration: underline dotted rgb(58, 58, 58);
    font-size: clamp(1.2rem,6vh,3rem);
    background-clip:content-box;
    margin: center;
    background: rgb(165, 18, 18);
    border-radius: 24px 24px 24px 24px;
}
html {
    background-color: #222222;
    font-size: 1rem;
    color :rgb(19, 174, 29);
    text-align: center;
}
img {
    box-shadow: 0 0 10px bisque;
}
button {
    font-size: 2rem;
    font-weight: bold;
    background-color: bisque;
    border-radius: 10px;
    border : none;
}
button :hover {
    background-color: rgb(255, 0, 0);
}
a {
    color: rgb(255, 0, 174);
    text-decoration: none;
}
.roboto-condensed {
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.liter-regular {
    font-family: "Liter", serif;
    font-weight: 400;
    font-style: normal;
}